<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main_styles.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <title>Gazelle Studio</title>
</head>

<body>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function Works() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(e) {
            if (!e.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsById("myDropdown");
                if (dropdowns.classList.contains('show')) {
                    dropdowns.classList.remove('show');
                }
            }
        }
    </script>

    <div class="title">
        <h1>Gazelle Studio</h1>
        <h3>It just a simple project page.</h3>
    </div>

    <div class="nav">
        <a href="/Home/Index">首頁</a>
        <a href="/Home/About">關於</a>
        <a href="/Home/Project">計畫</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="Works()">作品<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/Works/Python">Python</a>
                <a href="/Works/Web">Webs</a>
                <a href="/Works/Games">Games</a>
            </div>
        </div>
        <a href="/Home/Contact">連絡</a>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>2019 - Made by Gazelle</p>
        </footer>
    </div>


</body>
</html>