<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main_styles.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <title>Gazelle Studio</title>
</head>

<body>

    <div class="title">
        <h1>Gazelle Studio</h1>
        <h3>It just a simple project page.</h3>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/Home/Index">首頁</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/About">關於</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Project">計畫</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/works">作品</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Contact">連絡方式</a>
        </li>
    </ul>

    <div class="container container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>2019 - Made by Gazelle</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>