@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <p class="subtitle">About me</p>
    <div>
        <p class="contain">
            &emsp;My name is Gazelle, here is my first homepage, for practice html and css, MVC pattern.<br>
            It's a place where I put my works.  Now I'm learning MVC pattern, for future I will learn vue.js.<br>
            My game will make with unreal engine 4, and I'm using blender to make 3D models, audio with FL studio 12.<br>
            My First program launguage is Python, now I'm learning C#, JavaScript, JQuery, and more.<br>
            Native language is Chinese(Mandarin), second language will be English, and I'm studying Russian and Japanese.<br>
            I love movies, music.
        </p>
    </div>
</div>
