@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <p class="subtitle">About me</p>
    <div>
        <p>
            My name is Gazelle, here is my first homepage, for practice html and css, etc.<br>
            It's a place where I put my games and works.<br>
            I made games with Unity, unreal engine 4.<br>
            I using blender to make 3D models, audio is from FL studio 12.
        </p>
    </div>
</div>
