@{
    ViewBag.Title = "Contect";
}

<div class="jumbotron">
    <p class="subtitle">Contect</p>
    <div>
        <p class="contain">
            &emsp;Will be announcement.
        </p>
    </div>
</div>