@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="subtitle">About This Site</p>
    <div>
        <p>
            This is my First site using MVC pattern.
        </p>
    </div>
</div>
