@{
    ViewBag.Title = "Projects";
}

<div class="jumbotron">
    <p class="subtitle">Projects</p>
    <div>
        <p>
            For now here are some projects on going.
        </p>
    </div>
</div>