@{
    ViewBag.Title = "Projects";
}

<div class="jumbotron">
    <p class="subtitle">Projects</p>
    <div class="projects">
        <ul>
            <li>A UE4 platform game, it's now in planting phase.</li>
            <li>Upgrade my website to vue.js framework.</li>
        </ul>
    </div>
</div>